body{
    font-family: 'Asap', sans-serif;
    font-weight: 400px;
    background-color: #EBEBEB;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.container{
    
    height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;
}

.header-container{
background-color: rgb(60, 60, 60);
min-height: 100px;
position: fixed;
width: 100%;

}

header{
    max-width: 1024px;
    display: flex;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 
.mybutton{
    
    align-items: center;
    border: solid white;
    padding: 10px 25px;
    border-width: 1px;
    margin-left: 20px;
}

.col{

    background-color: mediumseagreen;
    width: 30%;
    margin-bottom: 40px;
}

.col p{
    color: white;
    font-size: 0.875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}

.hide-desktop-only{

    display:none;
}

.col img{
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}

.mob-wrapper{
    display: none;
}

/* Tablet View */
@media (max-width: 768px){

.col{
    width: 45%;
    
}
.hide-desktop-only{

    display:block;
}

nav{
    display: none;
}

nav a{
    display: block;
}

.logo{
    padding: 40px 0;
    margin-left: 10px;
}

.mybutton{
    margin-left: 0;
}

.header-container{
    
    position: relative;
   
    }
    
header{
   padding-top: 40px;    
        
    }

.mob-wrapper{
    display: block;
    padding-right: 30px;
    }

.mob-nav{
    display: none;
    position: absolute;
    padding-top: 5px;
}

.navbutton{
    display: block;
    background-color: coral;
    padding: 15px 20px;
    margin-left: -70px;
    text-align: center;
}

}


/* Mobile View */

@media (max-width: 400px){

.col{
    width: 100%;
}
.hide-mobile{

    display:none;
}

 header{
    display: block;
    text-align: center;
}

nav a{
    display: block;
}

.logo{
    padding: 40px 0;
}

.mybutton{
     margin-left: 0;
}

.header-container{
        
    position: relative;
       
}
        
header{
    padding-top: 40px;    
            
}

.navbutton{
    
    margin-left: 115px;
    text-align: center;
}

}
    
 